.hire-description p{
	text-align:center;
	margin:0;
}

.hire-type{
	width:100%;
}

.hire-result{
	border:1px solid black;
	min-width:70%;
	max-width:70%;
	min-height:206px;
	max-height:206px;
	margin:0 auto;
	margin-top:10px;
	display:table;
}

.hire-result ul{
	display:flex;
	width:100%;
	margin:1rem 0rem 1rem -1rem;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	text-align:center;
}

.hire-result li{
	min-width:120px;
	max-width:120px;
	min-height:100px;
	list-style:none;
	margin:1px;
	border:1px solid black;
	border-radius: 2px;
}

.hidden-hire-menu.show{
	width:200%;
}

.hidden-hire-menu.show > li:hover{
	background-color:#0d6efd;
	color:white;
	transition: color .15s ease-in-out,
	background-color .15s ease-in-out,
	border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#hidden-hire-group:hover{
	background-color:#0d6efd !important;
	color:white !important;
	transition: color .15s ease-in-out,
	background-color .15s ease-in-out,
	border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

/* 모바일 디바이스 */
@media all and (max-width:760px){
	.hire-result{
		min-width:100%;
		max-width:100%;
	}
	
	.hire-result li{
		min-width:100px;
		max-width:100px;
		min-height:80px;
	}
	
	.hire-result li img{
		min-width:80px;
		max-width:80px;
		min-height:80px;
	}
}