.hire-description p{
	text-align:center;
	margin:0;
}

.hire-type{
	width:100%;
}

.hire-result{
	border:1px solid black;
	min-width:70%;
	max-width:70%;
	min-height:206px;
	max-height:206px;
	margin:0 auto;
	margin-top:10px;
	display:table;
}

.hire-result ul{
	text-align:center;
}

.hire-result li{
	min-width:120px;
	max-width:120px;
	min-height:100px;
	float:left;
	list-style:none;
	margin:1px;
	border:1px solid black;
	border-radius: 2px;
}